****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [3]:
import pandas as pd

In [4]:
import json 
from pandas.io.json import json_normalize

In [5]:
# load json as string
json_data = json.load((open('data/world_bank_projects.json')))

In [6]:
type(json_data)

list

In [12]:
# normalize the Json String Data
projects_data = json_normalize(json_data)
type(projects_data)

pandas.core.frame.DataFrame

In [13]:
# add a column for Counts
projects_data['count'] = 1

# groupby country to get the total count
projects_data.groupby(['countryname'])['count'].count().nlargest(10)

countryname
People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Kingdom of Morocco                 12
Nepal                              12
People's Republic of Bangladesh    12
Africa                             11
Republic of Mozambique             11
Name: count, dtype: int64

In [32]:
# display of data in the column mjtheme_namecode
projects_data['mjtheme_namecode'].head()

0    [{'code': '8', 'name': 'Human development'}, {...
1    [{'code': '1', 'name': 'Economic management'},...
2    [{'code': '5', 'name': 'Trade and integration'...
3    [{'code': '7', 'name': 'Social dev/gender/incl...
4    [{'code': '5', 'name': 'Trade and integration'...
Name: mjtheme_namecode, dtype: object

In [15]:
# normalize the column mjtheme_namecode to extract major Project themes from 
project_themes = json_normalize(json_data,'mjtheme_namecode',['countryname'])

In [16]:
project_themes.head()

,code,name,countryname
0,8,Human development,Federal Democratic Republic of Ethiopia
1,11,,Federal Democratic Republic of Ethiopia
2,1,Economic management,Republic of Tunisia
3,6,Social protection and risk management,Republic of Tunisia
4,5,Trade and integration,Tuvalu

In [17]:
project_themes = project_themes.set_index('code').sort_index()

In [18]:
#Top 10 project themes
project_themes.head(10)

                     name                               countryname
code
1     Economic management  Democratic Republic of Sao Tome and Prin
1     Economic management              Oriental Republic of Uruguay
1     Economic management                      Republic of Colombia
1     Economic management                      Republic of Colombia
1     Economic management                          Kingdom of Tonga
1     Economic management                         Republic of Yemen
1     Economic management          Lao People's Democratic Republic
1     Economic management          Lao People's Democratic Republic
1     Economic management                                   Ukraine
1     Economic management                           Pacific Islands

In [19]:
import numpy as np
#missing values evident from the project_themes data
missing_data = project_themes.name.replace("",np.nan)
missing_data.tail(10)

code
9    Urban development
9    Urban development
9    Urban development
9                  NaN
9    Urban development
9    Urban development
9    Urban development
9    Urban development
9    Urban development
9    Urban development
Name: name, dtype: object

In [21]:
missing_data = missing_data.fillna(method='ffill') 
missing_data.tail(10)

code
9    Urban development
9    Urban development
9    Urban development
9    Urban development
9    Urban development
9    Urban development
9    Urban development
9    Urban development
9    Urban development
9    Urban development
Name: name, dtype: object